html {
    background-color: #313131;
}

body {
    width: auto;
    padding: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    #text-align:center;
}

p {
    color: #FFFFFF;
    font-size: 11pt;
}
.delete_playlist {
    float: right;
    background: rgba(255,255,255,0.2);
    border: 1px solid #555;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 4px;
}

.centered {
    text-align:center;   
}

#logo{
    padding-bottom: 100px;
    margin-top: 6px;
}

#logoWrap {
    width: 100%;
    height: 55px;
    background: #222;
    padding-bottom: 5px;
}

.QupInput{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    color: #333333;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:2px;
    margin-left: 3px;
    width: 232px;
}

#single-track-player{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 15px;
}

#search_results{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search_result_item button{
    font-size: 14pt;
    float: right;
    width: 600px;
}

.sp-list{
    /*height: 300px;*/
}

.QupButton{
    color: #ffffff;
    background-color: #74b301;
    border-style:solid;
    border-color:#74b301;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin-top:2px;
    margin-left:0px;
    margin-right:0px;
    width: 109px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    text-decoration: none;
}

a.QupButton:hover {
    text-decoration: underline;
}

.Upvote{
    padding-left: 16px;
    padding-right: 16px;
    
    height: 40px;
    
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    margin-top:2px;
    
    margin-left: 0px;
    margin-right: 0px;
}

#SongData{
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    border-style:solid;
    text-align:center;
    text-overflow:ellipsis;
    
    width: 70%;
    max-width: 70%;
    height: 40px;
    
    overflow:hidden;
    display:inline-flex;
    white-space:nowrap;
    
    text-align: left;
    
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    margin-top:2px;
    margin-left:0px;
    
    padding-left: 14px;
    padding-right: 14px;
    
}

#playlist_list {
    margin-left: auto;
    margin-right: auto;
    width: 235px;
}

#playlist_list h2 pre.code {
   background: rgba(255,255,255,0.2);
   border: 0px solid #ffffff;
   border-radius: 5px;    
   color: #FFFFFF;
}

#playlist_list h2 pre.code a{
    font-size: 16pt;
    text-decoration: none;
    color: #FFFFFF;
}

#playlist_list h2 pre.code a:hover{
    text-decoration: underline;
}

#playlist-url{
    margin-bottom: 15px;
}

#playlist-url a {
    color: #dddddd;
    font-size: 16pt;
}

#playlist-player{
    position: absolute;
    bottom: 0px;
}

#track_search {
    font-size: 16pt;
    color: #333333;
    background-color: #ffffff;
    border-style:solid ;
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:2px;
    width: 232px;
}

.app-url {
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    border: 1px dashed #555;
    border-radius: 8px;
    background: #383838;
    display: inline-block;
}

.app-url:hover {
    text-decoration: underline;
}