html {
    background-color: #313131;
}

body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    #text-align:center;
}

.centered {
    text-align:center;   
}

#logo{
    padding-top: 50px;
    padding-bottom: 50px;
}

.QupInput{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    border-style:outset;
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:2px;
    width: 232px;
}

#single-track-player{

}

.QupButton{
    color: #ffffff;
    background-color: #74b301;
    border-style:outset;
    border-color:#74b301;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
}

#track{
    
}

#Create{
    width: 117px;
    padding-top:2px;
    padding-bottom:2px;
}

#Join{
    width: 117px;
    padding-top:2px;
    padding-bottom:2px;
}

.Upvote{
    padding-left: 16px;
    padding-right: 16px;
    
    height: 40px;
    
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    margin-top:2px;
    
    margin-left: 10%;
    margin-right: 0px;
}

#SongData{
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    border-style:outset;
    text-align:center;
    text-overflow:ellipsis;
    
    width: 70%;
    max-width: 70%;
    height: 40px;
    
    overflow:hidden;
    display:inline-flex;
    white-space:nowrap;
    
    text-align: left;
    
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    margin-top:2px;
    margin-left:0px;
    
    padding-left: 14px;
    padding-right: 14px;
    
}

#playlist_list {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#playlist_list h2 pre.code {
   background: rgba(255,255,255,0.2);
   border: 0px solid #ffffff;
   border-radius: 5px;    
   color: #FFFFFF;
}

#playlist_list h2 pre.code a{
    font-size: 16pt;
    color: #FFFFFF;
}